body {
     color: rgb(0, 0, 0);
     background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpjBnymb3iQNgecec11A5j3gwd70oxjIOWqa5nZ8KRbJYBFL1k);
     background-size: cover;
     
}

a {
  color: black;
}
div {
     background-color: rgb(225, 0, 225);
}
.kotak1 {
 background-color: blue;   
     width: 400px;
     height: 800px;
}
.kotak2 {
     background-color: red;
     width: 50%;
     height: 10%;
}
.hotel {
 background-color: rgb(255, 69, 0);
     color: rgb(139, 0, 0);
     width: 50%;
     height: 100px;
     float: left;
}
.main {
 background-color: rgb(255, 105, 180);
 color: rgb(220, 20, 60);
 width: 50%;
 height: 100px;
 float: right;
}
