body {
     color: rgb(0, 0, 0);
     background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpjBnymb3iQNgecec11A5j3gwd70oxjIOWqa5nZ8KRbJYBFL1k);
     background-size: cover;
     
}

a {
  color: black;
}
div {
     background-color: rgb(225, 0, 225);
}
